body {
  background-color: whitesmoke !important;
  font-family: "ABeeZee" !important;
  font-size: 20px !important;
}

.borderTitle {
  background: rgb(134, 133, 144);
  background: linear-gradient(
    90deg,
    rgba(134, 133, 144, 1) 0%,
    rgba(255, 255, 255, 1) 94%
  );
  border-radius: 0px 20px 0px 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(20, 20, 20);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid grey;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: rgb(156, 156, 156);
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: white;
  color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #242323;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
