body {
  background-color: whitesmoke !important;
  font-family: "ABeeZee" !important;
  font-size: 20px !important;
}

::-webkit-scrollbar {
  display: none;
}

/* Logo */

.imagePlacement {
  margin: 10px 0px 20px 20px;
  box-shadow: 2px 2px 4px #2e2e2e;
  border-radius: 10px;
}

/* Preview Container - labels.html */

.previewLabelContainer {
  background-color: rgb(44, 43, 43);
  text-align: center;
  overflow: hidden;
  padding: 50px 0px;
  height: 190px;
}

/* Titles */

.borderTitle {
  background: linear-gradient(90deg, #1b4332 0%, #40916c 80%);
  border-radius: 35px 3px 35px 3px;
  padding-top: 10px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-family: "Press Start 2P", sans-serif;
}

/* Side Nav */

.sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(24, 22, 22);
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid grey;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: rgb(156, 156, 156);
}

.main {
  margin-left: 180px;
  font-size: 18px;
  padding: 0px 10px;
}

.active {
  background-color: white;
  color: black;
}

.dropdown-container {
  display: none;
  background-color: #242323;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Toggle Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  margin-top: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 2px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1f7bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
